{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "printWidth": 1024,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false
}
